@import "tailwindcss";

@theme {
    -- color-primary: --var(--color-primary);
    -- color-background: --var(--color-background);
    --color-dark: --var(--color-dark);

}

:root {
    --color-primary: #e5e1d1;
    --color-background: #101419;
    --color-dark: rgba(0, 0, 0, 0.7);
}

body {
    background-color: var(--color-background);
    color: var(--color-primary);
}

@layer utilities {

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        appearance: none;
    }
}